{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="homepage-bg">
    <h2 class="welcome-text">Welcome to BCIIT</h2>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h3 class="about-title">About BCIIT</h3>
            <p class="about-text">
                Banarsidas Chandiwala Institute of Information Technology (BCIIT) was established in 1999 to run Master of Computer Application (MCA) programme. The Institute is affiliated with Guru Gobind Singh Indraprastha University (GGSIPU), Delhi for awarding the degree and is approved by the All India Council of Technical Education (AICTE), Ministry of HRD, Government of India. The Institute is established under the aegis of Sri Banarsidas Chandiwala Sewa Smarak Trust Society (SBCSSTS), a charitable Society working in the field of health and education since 1952.
            </p>
        </div>
    </div>
</div>
{% endblock %}